@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');


body{
    font-family: 'Monserrat', sans-serif;
    overflow-x: hidden;
}

#menu li > a {
    font-size: 18px;
    font-weight:  bold;
    color: #3f3f3f;
}

#menu form > button {
    font-size: 18px;
    font-weight:  bold;
}

.carousel-inner {
    max-height: 39rem;

}